<footer>
  <div class="content-padding">
    <div class="footer-content">
      <p>Copyright &copy; Sayed Abdul</p>

      <div class="social-media-icons">
          <a href="https://nodejs.org/en/"><i class="fab fa-node"></i></a>
          <a href="https://github.com/sayedabdulkarim"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>