<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>

</head>
<body>
    <% include partials/header %>

    <div id="hero-image-notFound">
      <div id="hero-title"><%= title%></div>
    </div>

  <% include partials/footer %>
  
  <% include partials/script %>
</body>
</html>